target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse / VS Code ###
.classpath
.project
.settings/
.vscode/

### Logs & local env ###
*.log
.env
application-local.yml
